Django>=5.2.1
djangorestframework>=3.16.0
django-cors-headers>=4.7.0
Markdown>=3.5.2
pyotp>=2.9.0  # For OTP generation
python-decouple>=3.8  # For environment variables handling 
PyPDF2>=3.0.1  # For PDF text extraction
python-docx>=1.1.2  # For DOCX text extraction
drf-yasg[validation]==1.21.10  # For Swagger/OpenAPI docs
gunicorn>=21.2.0  # For production server
requests==2.31.0
google-auth>=2.25.0  # For Google OAuth authentication
google-auth-httplib2>=0.2.0  # HTTP transport for Google auth
google-auth-oauthlib>=1.2.0  # OAuth2 flow helper for Google auth